<body>
  <%= stylesheet_link_tag 'symptoms_new' %>
  <%= javascript_pack_tag 'symptoms_new' %>
</body>

<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
  <h1 class="text-center title">問診1</h1>
  <h2 class="text-center instruction">症状のある部位を教えてください</h2>
  <%= form_with model: @symptom, url: symptoms_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :pain_location %>
  <div class="d-flex justify-content-around" style="width: 100%; max-width: 600px;">
    <label for="neck" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.pain_location == '首' %>">
      <%= f.radio_button :pain_location, '首', style: 'display:none', id: 'neck', class: 'form-check-input' %>
      <%= image_tag('11514_color.png', alt: '首', class: 'img-thumbnail', style: 'width: 200px; height: 200px;') %>
      首
    </label>
    <label for="waist" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.pain_location == '腰' %>">
      <%= f.radio_button :pain_location, '腰', style: 'display:none', id: 'waist', class: 'form-check-input' %>
      <%= image_tag('11581_color.png', alt: '腰', class: 'img-thumbnail', style: 'width: 200px; height: 200px;') %>
      腰
    </label>
  </div>
  <div class="text-center">
    <%= f.submit '次へ', class: 'btn btn-primary btn-lg custom-button' %>
  </div>
  <% end %>
</div>