<!DOCTYPE html>
<html>
  <head>
    <title>ケア方法</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    >
    <style>
      /* CSSを適用 */
      #map {
        height: 500px;  /* マップの高さを400pxに変更 */
        width: 500px;  /* マップの幅を400pxに変更 */
        margin: 0 auto; /* マップを中央寄せ */
      }
    </style>

    <script>
      function initMap() {
        // Use HTML5 geolocation to get the user's current position
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var currentLocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            var map = new google.maps.Map(document.getElementById('map'), {
              center: currentLocation,
              zoom: 15
            });

            var request = {
              location: currentLocation,
              radius: '5000',  // 5km
              type: ['hospital', 'doctor'],  // 整形外科を含む病院と医師を検索
              keyword: ['整形外科', '総合病院']  // '整形外科'と'総合病院'を含む場所を検索
            };

            var service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request, callback);

            function callback(results, status) {
              if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                  createMarker(results[i]);
                }
              }
            }

            function createMarker(place) {
              var placeLoc = place.geometry.location;
              var markerIcon = {
                url: 'https://maps.google.com/mapfiles/marker_green.png',  // Change marker color to green
                scaledSize: new google.maps.Size(50, 50)  // Decrease marker size
              };
              var marker = new google.maps.Marker({
                map: map,
                position: placeLoc,
                icon: markerIcon,
                animation: google.maps.Animation.DROP
              });

              var infowindow = new google.maps.InfoWindow();
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(place.name);
                infowindow.open(map, marker);
              });
            }
          }, function(error) {
            // 現在位置の取得に失敗した時の処理
            console.error('Error occurred in geolocation: ' + error.message);
          });
        } else {
          // Browser doesn't support Geolocation
          console.log("Geolocation is not supported by this browser.");
        }
      }
    </script>

  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
        <% flash.each do |message_type, message| %>
          <div class="flash-message alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>

        <div class="care-methods">
          <div class="card">
            <h5 class="card-title">ケア方法</h5>
            <% if @care_methods && @care_methods.any? %>
              <%= form_tag user_care_histories_path, method: :post do %>
                <% @care_methods.each do |method| %>
                  <%= hidden_field_tag 'care_method_ids[]', method.id %>
                  <h5 class="card-title"><%= method.name %></h5>
                  <p class="card-text"><%= method.description %></p>
                  <% if method.link.present? %>
                    <a href="<%= method.link %>" class="card-link" target="_blank">
                      詳細リンク
                      <i class="fas fa-external-link-alt"></i>
                    </a>
                  <% end %>
                <% end %>
                <%= submit_tag 'ケア方法を保存', class: 'btn btn-primary' %>
              <% end %>
            <% else %>
              <p class="card-text">No care methods found.</p>
            <% end %>

            <% if @show_map %>
              <div id="map"></div> <!-- 地図を表示する要素 -->
              <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap"
              async defer></script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>