<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; background-color: #e9e7e0;">
  <h1 class="text-center title" style="color: #709775;">問診5</h1>
  <h2 class="text-center instruction" style="color: #709775;">痛みの原因を教えてください</h2>
  <%= form_with model: @symptom, url: symptom_step_path(@symptom, :generate_care_methods), method: :patch do |f| %>
    <div class="d-flex justify-content-around flex-nowrap" style="width: 100%; max-width: 800px; overflow-x: auto;">
      <label for="injury_related_yes" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.injury_related == true %>">
        <%= f.radio_button :injury_related, true, style: 'display:none', id: 'injury_related_yes', class: 'form-check-input' %>
        外傷（ケガ）による痛み
      </label>
      <label for="injury_related_no" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.injury_related == false %>">
        <%= f.radio_button :injury_related, false, style: 'display:none', id: 'injury_related_no', class: 'form-check-input' %>
        非外傷性（ケガ以外）による痛み
      </label>
    </div>
    <div class="text-center">
      <%= f.submit '次へ', class: 'btn btn-primary btn-lg custom-button' %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.querySelectorAll('.custom-label').forEach(function(label){
      label.addEventListener('click', function(e){
        // Clear previous selection
        document.querySelectorAll('.custom-label').forEach(function(otherLabel){
          otherLabel.classList.remove('active');
        })
        // Set the clicked label as active
        e.currentTarget.classList.add('active');
      })
    })
  })
</script>

<style>
/* Hide the radio buttons */
.form-check-input {
  display: none;
}

/* Style for active label */
.active {
  border-color: #FF0000; /* This will make the border red */
  background-color: #FF0000; /* This will make the background red */
  color: white;
  box-shadow: 0 0 10px #FF0000; /* This will add a red shadow around the item */
}

/* Custom button size */
.custom-button {
  width: 200px;
  height: 60px;
}

/* Custom label with margin and width */
.custom-label {
  margin: 10px !important;
  min-width: 200px; /* Adjust this value to ensure the text fits */
  text-align: center; /* Center the text within the label */
}

/* Custom title */
.title {
  font-size: 3em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 0.5em;
  color: #709775; /* A matcha color */
}

/* Custom instruction */
.instruction {
  font-size: 1.5em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 1em;
  color: #709775; /* A matcha color */
}
</style>
