<%= stylesheet_link_tag 'symptoms_steps_pain_start_time' %>
<%= javascript_pack_tag 'symptoms_steps_pain_start_time' %>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
  <h1 class="text-center title" style="color: #709775;"><%= t('symptoms_steps_pain_start_time.title') %></h1>
  <h2 class="text-center instruction" style="color: #709775;"><%= t('symptoms_steps_pain_start_time.instruction') %></h2>
  <%= form_with model: @symptom, url: wizard_path, method: :patch, html: { id: 'painStartTimeForm' } do |f| %>
    <div class="d-flex justify-content-around flex-nowrap" style="width: 100%; max-width: 800px; overflow-x: auto;">
      <label for="today" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.pain_start_time == t('symptoms_steps_pain_start_time.today') %>">
        <%= f.radio_button :pain_start_time, t('symptoms_steps_pain_start_time.today'), style: 'display:none', id: 'today', class: 'form-check-input' %>
        <%= t('symptoms_steps_pain_start_time.today') %>
      </label>
      <label for="1-3-days-ago" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.pain_start_time == t('symptoms_steps_pain_start_time.one_to_three_days_ago') %>">
        <%= f.radio_button :pain_start_time, t('symptoms_steps_pain_start_time.one_to_three_days_ago'), style: 'display:none', id: '1-3-days-ago', class: 'form-check-input' %>
        <%= t('symptoms_steps_pain_start_time.one_to_three_days_ago') %>
      </label>
      <label for="4-days-ago" class="btn btn-outline-primary btn-lg custom-label <%= 'active' if @symptom.pain_start_time == t('symptoms_steps_pain_start_time.four_days_or_more_ago') %>">
        <%= f.radio_button :pain_start_time, t('symptoms_steps_pain_start_time.four_days_or_more_ago'), style: 'display:none', id: '4-days-ago', class: 'form-check-input' %>
        <%= t('symptoms_steps_pain_start_time.four_days_or_more_ago') %>
      </label>
    </div>
    <div class="text-center">
      <%= f.submit t('symptoms_steps_pain_start_time.next'), class: 'btn btn-primary btn-lg custom-button' %>
    </div>
  <% end %>
</div>
