<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
  <h1 class="text-center title">問診3</h1>
  <h2 class="text-center instruction">痛みが出た時間を選択してください</h2>
  <%= form_with model: @symptom, url: wizard_path, method: :patch do |f| %>
    <div class="d-flex justify-content-around flex-nowrap" style="width: 100%; max-width: 800px; overflow-x: auto;">
      <label for="today" class="btn btn-outline-primary btn-lg custom-label">
        <%= f.radio_button :pain_start_time, '今日', style: 'display:none', id: 'today', class: 'form-check-input' %>
        今日
      </label>
      <label for="1-3-days-ago" class="btn btn-outline-primary btn-lg custom-label">
        <%= f.radio_button :pain_start_time, '1日から3日前', style: 'display:none', id: '1-3-days-ago', class: 'form-check-input' %>
        1日から3日前
      </label>
      <label for="4-days-ago" class="btn btn-outline-primary btn-lg custom-label">
        <%= f.radio_button :pain_start_time, '4日以上前', style: 'display:none', id: '4-days-ago', class: 'form-check-input' %>
        4日以上前
      </label>
    </div>
    <div class="text-center">
      <%= f.submit '次へ', class: 'btn btn-primary btn-lg custom-button' %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.querySelectorAll('.custom-label').forEach(function(label){
      label.addEventListener('click', function(e){
        // Clear previous selection
        document.querySelectorAll('.custom-label').forEach(function(otherLabel){
          otherLabel.classList.remove('active');
        })
        // Set the clicked label as active
        e.currentTarget.classList.add('active');
      })
    })
  })
</script>

<style>
/* Hide the radio buttons */
.form-check-input {
  display: none;
}

/* Style for active label */
.active {
  border-color: #FF0000; /* This will make the border red */
  background-color: #FF0000; /* This will make the background red */
  color: white;
  box-shadow: 0px 0px 20px 3px rgba(255, 0, 0, 0.6); /* This will add a bigger and more visible red shadow around the item */
}

/* Custom button size */
.custom-button {
  width: 200px;
  height: 60px;
}

/* Custom label with margin and width */
.custom-label {
  margin: 10px !important;
  min-width: 200px; /* Adjust this value to ensure the text fits */
  text-align: center; /* Center the text within the label */
}

/* Custom title */
.title {
  font-size: 3em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 0.5em;
}

/* Custom instruction */
.instruction {
  font-size: 1.5em;
  font-family: 'Yu Gothic', sans-serif;
  margin-bottom: 1em;
}
</style>
