<%= stylesheet_link_tag 'symptoms_steps_pain_intensity' %>
<%= javascript_pack_tag 'symptoms_steps_pain_intensity' %>
<div id="page-container">
  <% if current_user %>
    <%= render 'shared/logged_in_header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>

  <div id="content-wrap">
    <div class="container-fluid pain-intensity-container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
      <h1 class="text-center title"><%= t('symptoms_steps_pain_intensity.title') %></h1>
      <h2 class="text-center instruction"><%= t('symptoms_steps_pain_intensity.instruction') %></h2>
      <div id="slider"></div> <!-- スライダーのコンテナ要素 -->
      <div id="slider-value" class="text-center mt-2"></div> <!-- スライダーの値表示領域 -->

      <%= form_with model: @symptom, url: wizard_path, method: :patch, html: { id: 'painForm' } do |f| %>
        <%= f.hidden_field :pain_intensity, id: 'pain_intensity' %> <!-- hidden field -->

        <div class="text-center mt-5">
          <%= link_to t('common.back'), previous_wizard_path, class: 'btn btn-secondary btn-lg custom-button-responsive ml-3 btn-back', data: { turbolinks: false } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
