<!DOCTYPE html>
<html>
<head>
    <title><%= t('users.title') %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <%= stylesheet_link_tag 'users_show', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container" style="margin-top: 200px;">
        <h1 class="text-center mb-4"><%= t('users.title') %></h1>

        <div id="messages" class="mt-4">
            <h2><%= t('users.post_list_header') %></h2>
            <div class="row card-container">
                <% @posts.each do |post| %>
                    <div class="message-card card" data-post-id="<%= post.id %>">
                        <div class="card-header">
                            <%= link_to post.user.name, user_path(post.user) %>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%= post.content %></p>
                            <%= link_to 'https://twitter.com/intent/tweet?text=' + post.content, target: "_blank", class: 'twitter-share' do %>
                                <i class="fab fa-twitter"></i> Share on Twitter
                            <% end %>
                            <% if current_user %>
                                <div>
                                    <% if current_user.id == post.user.id %>
                                        <%= link_to t('posts.delete_button'), post, method: :delete, data: { confirm: t('posts.delete_confirmation') }, class: 'delete-link' %>
                                        <%= link_to '編集', edit_post_path(post), class: 'edit-link' %>
                                    <% end %>
                                </div>
                                <div class="favourite-link" data-post-id="<%= post.id %>" data-user-id="<%= current_user.id %>">
                                    <% favourite = post.favourites.find_by(user_id: current_user.id) %>
                                    <% if favourite %>
                                        <%= link_to post_favourite_path(post, favourite), remote: true, method: :delete, class: 'favourite-icon' do %>
                                            <i class="fas fa-thumbs-up"></i>
                                        <% end %>
                                    <% else %>
                                        <%= link_to post_favourites_path(post), remote: true, method: :post, class: 'favourite-icon' do %>
                                            <i class="far fa-thumbs-up"></i>
                                        <% end %>
                                    <% end %>
                                    <span class="favourite-count" data-post-id="<%= post.id %>"><%= post.favourites.count %></span>
                                </div>
                            <% end %>
                            <p class="pain-location"><strong><%= post.pain_location %></strong></p>
                        </div>
                    </div>
                <% end %>
                <%= paginate @posts %>
            </div>
        </div>
    </div>
</body>
</html>
