<head>
  <style>
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(to right, #428625, #7bdd95);
      z-index: 999;
      display: flex;
      align-items: center;
    }

    .navbar-title {
      font-size: 28px;
      font-weight: bold;
      color: #fff;
      margin-left: -100px; /* 適切な間隔に調整してください */
      cursor: pointer;
      font-family: 'Hiragino Mincho Pro', serif;
    }

    .hamburger-menu {
      cursor: pointer;
      z-index: 1000;
      color: #fff;
      width: 50px;
      height: 50px;
    }

    .side-bar {
      position: fixed;
      left: 0;
      top: 100px;
      height: 100vh;
      width: 0;
      background-color: #f8f9fa;
      overflow: auto;
      transition: width 1s;
      z-index: 1000;
    }

    .side-bar.open {
      width: 250px;
    }

    .side-bar a {
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
      padding: 15px;
      height: 80px;
      line-height: 70px;
      transition: color 0.3s;
    }

    .side-bar a:hover {
      color: #007f5f;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container d-flex justify-content-between">
      <% if current_user %>
        <div class="hamburger-menu navbar-toggler" onclick="toggleMenu()">&#9776;</div>
      <% end %>
      <a href="<%= root_path %>" class="navbar-title">なごみ首腰：痛みケアナビ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'ヘルプ・サポート', '#', class: 'nav-link', style: 'color: #fff;' %>
          </li>
          <li class="nav-item">
            <%= link_to '使い方', '#', class: 'nav-link', style: 'color: #fff;' %>
          </li>
          <% unless current_user %>
            <li class="nav-item">
              <%= link_to 'ログイン', '#', class: 'nav-link', style: 'color: #fff;', "data-toggle" => "modal", "data-target" => "#loginModal" %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', '#', class: 'nav-link', style: 'color: #fff;', "data-toggle" => "modal", "data-target" => "#signUpModal" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%= render 'user_sessions/modal' %> <!-- ログインのモーダルウィンドウをレンダリング -->
  <%= render 'users/modal' %> <!-- 新規登録のモーダルウィンドウをレンダリング -->
</body>
