<head>
  <%= stylesheet_link_tag 'shared_before_login_header' %>
  <%= javascript_pack_tag 'before_login_header' %>
</head>
<body>
  <nav class="navbar">
    <%= link_to t('logged_in_header.home'), root_path, class: 'navbar-title' %>
    <!-- Hamburger menu -->
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>
  <!-- Sidebar -->
  <div id="mySidebar" class="side-bar">
    <%= link_to t('shared_header.login'), new_user_session_path, class: 'nav-link', style: 'color: #000;' %>
    <%= link_to t('shared_header.signup'), new_user_path, class: 'nav-link', style: 'color: #000;' %>
  </div>
</body>
