<head>
  <%= stylesheet_link_tag 'shared_logged_in_header' %>
  <%= javascript_pack_tag 'logged_in_header' %>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <%= link_to t('logged_in_header.home'), root_path, class: 'navbar-title' %>
    <div>
      <a href="#" class="navbar-links"><%= t('logged_in_header.how_to_use') %></a>
      <%= link_to t('logged_in_header.logout'), logout_path, method: :delete, class: 'navbar-links' %>
    </div>
    <!-- Hamburger menu -->
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div id="mySidebar" class="side-bar">
    <p><%= @current_user %></p>
    <a href="#"><%= t('logged_in_header.user_settings') %></a>
    <%= link_to t('logged_in_header.notification_settings'), edit_user_path(current_user), class: "nav-link" %>
    <%= link_to t('logged_in_header.care_history'), user_care_histories_path, class: "nav-link" %> <!-- Added this line -->
  </div>
  <!-- Content goes here -->
</body>