<head>
  <%= stylesheet_link_tag 'shared_logged_in_header' %>
  <%= javascript_pack_tag 'logged_in_header' %>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet"> <!-- 和風のフォントを追加 -->
</head>
<body>
  <nav class="navbar">
    <%= link_to root_path, class: 'navbar-title' do %>
      <div class="logo">
        <span class="logo-main">なごみ首腰：</span>
        <span class="logo-sub">痛みケアナビ</span>
      </div>
    <% end %>
    <!-- Hamburger menu -->
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div id="mySidebar" class="side-bar">
    <a href="#" class="nav-link"><%= t('logged_in_header.how_to_use') %></a>
    <%= link_to t('logged_in_header.logout'), logout_path, method: :delete, class: "nav-link" %>
    <%= link_to t('logged_in_header.start_diagnosis'), symptoms_path, class: "nav-link" %>
    <%= link_to t('logged_in_header.bulletin_board'), posts_path, class: "nav-link" %>
    <p class="nav-link"><%= t('logged_in_header.record_daily_care') %></p>
    <%= link_to t('logged_in_header.care_history'), user_care_histories_path, class: "nav-link" %>
  </div>
  <!-- Content goes here -->
</body>
