<%= stylesheet_link_tag 'home' %>
<div class="container">
        <div class="left-image">
            <%= image_tag '26101164_m.jpg', alt: t('home.image_description') %>
        </div>
        <div class="right-content">
            <div class="main-title"><%= t('home.main_title') %></div>
        </div>
    </div>
    <div class="about-container">
        <div class="about-title"><%= t('home.about_title') %></div>
        <div class="about-content">
            <div class="app-description-section">
                <div class="app-description-title"><%= t('home.app_description_title') %></div>
                <div class="app-description-text">
                    <%= t('home.app_description_text.intro') %>
                    <ul>
                        <li><%= t('home.app_description_text.feature1') %></li>
                        <li><%= t('home.app_description_text.feature2') %></li>
                        <li><%= t('home.app_description_text.feature3') %></li>
                        <li><%= t('home.app_description_text.feature4') %></li>
                    </ul>
                    <%= t('home.app_description_text.outro') %>
                </div>
            </div>
            <div class="app-image-section">
                <%= image_tag '4667358_s.jpg', alt: t('home.app_image_description') %>
            </div>
        </div>
    </div>
    <div class="scrolling-links">
      <div class="services-title"><%= t('home.services_title') %></div>
      <a href="<%= symptoms_path %>" data-turbolinks="false"><%= t('home.services.symptom') %></a>
      <a href="<%= care_records_path %>" data-turbolinks="false"><%= t('home.services.care_records') %></a>
      <a href="<%= weather_index_path %>" data-turbolinks="false"><%= t('home.services.weather') %></a>
      <a href="<%= posts_path %>" data-turbolinks="false"><%= t('home.services.posts') %></a>
    </div>