<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
  <%= javascript_pack_tag 'home' %>
  <%= stylesheet_link_tag 'home' %>
</head>

<body>
  <div class="left-text">
    <p><%= t('home.phrase1') %></p>
    <p><%= t('home.phrase2') %></p>
    <p><%= t('home.phrase3') %></p>
  </div>
  <div class="center-line">
    <div class="title-text"><%= t('home.title') %></div>
    <%= link_to t('home.start_diagnosis'), symptoms_path, class: 'cta-button' %>
    <%= link_to t('home.discussion_board'), posts_path, class: 'board-link' %>
    <%= link_to t('home.care_records'), care_records_path, class: 'care-records-link' %>
  </div>
</body>
