<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
  <%= javascript_pack_tag 'home' %>
  <%= stylesheet_link_tag 'home' %>
</head>

<body>
  <div class="hero vertical-text">
  <% if flash[:alert] %>
    <div class="flash-message">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <%= link_to t('home.start_diagnosis'), symptoms_path, class: 'cta-button', style: 'background-color: #009688;' %>
  <p class="catchphrase"><%= t('home.overcome_pain_catchphrase') %></p>
  <div class="intro">
    <p><%= t('home.learn_self_care') %></p>
  </div>
  <div class="spacer"></div>
  <%= link_to t('home.discussion_board'), posts_path, class: 'board-link', style: 'background-color: #009688;' %>
  <p class="catchphrase"><%= t('home.share_pain_catchphrase') %></p>
</div>
