<style>
  .description-text-area {
  height: 500px;
  resize: vertical; /* Allow vertical resize */
  }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="w-50">
    <h1 class="text-center">Edit Care Method</h1>

    <%= form_with model: @care_method, local: true do |form| %>
      <% if @care_method.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@care_method.errors.count, "エラー") %>があります。このケア方法の保存ができませんでした:</h2>

          <ul>
            <% @care_method.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
       <%= form.text_area :description, class: "form-control description-text-area" %>
      </div>

      <div class="form-group">
        <%= form.label :video_links_and_titles, "Video Links and Titles" %>
        <%= form.text_area :video_links_and_titles, class: "form-control", placeholder: "Enter each video URL and title, separated by a comma. Each pair should be on a new line." %>
      </div>

      <div class="form-actions text-center">
        <%= form.submit "更新する", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= link_to '戻る', @care_method, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
