<head><%= stylesheet_link_tag 'care_methods_index' %><head>
<div class="care-methods-container">
  <h1>Care Methods</h1>

  <%= link_to 'New Care Method', new_care_method_path %>

  <% if @care_methods.any? %>
    <% @care_methods.each do |care_method| %>
      <div class="care-method">
        <h2><%= care_method.name %></h2>
        <p><strong>Description:</strong> <%= care_method.description %></p>
        <% care_method.video_links.each_with_index do |link, index| %>
          <p>
            <strong>Video Link <%= index + 1 %> :</strong> <%= link %>
            <br/>
            <strong>Video Title <%= index + 1 %> :</strong> <%= care_method.video_titles[index] %>
          </p>
        <% end %>
        <div class="care-method-actions">
          <%= link_to 'Show', care_method_path(care_method), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_care_method_path(care_method), class: "btn btn-primary" %>
          <%= link_to 'Delete', care_method_path(care_method), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No care methods found.</p>
  <% end %>
</div>
