<div class="container mt-4">
  <h1 class="mb-4"><%= t('care_methods.new.title') %></h1>

  <%= form_with model: @care_method, local: true, html: { class: 'p-3 bg-light rounded-3' } do |form| %>
    <% if @care_method.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@care_method.errors.count, t('error')) %> <%= t('care_methods.new.error_message') %></h2>

        <ul>
          <% @care_method.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, t('care_methods.new.name'), class: "form-label" %>
      <%= form.text_field :name, required: false, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, t('care_methods.new.description'), class: "form-label" %>
      <%= form.text_field :description, required: false, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :video_links_and_titles, t('care_methods.new.video_links_and_titles'), class: "form-label" %>
      <%= form.text_area :video_links_and_titles, required: false, class: "form-control", placeholder: t('care_methods.new.placeholder_video_links') %>
    </div>

    <div class="form-group">
      <%= form.label :symptom_ids, t('care_methods.new.symptom_ids'), class: "form-label" %>
      <div class="accordion" id="symptoms-accordion">
        <% @symptoms.group_by(&:group_name).each_with_index do |(group_name, symptoms), index| %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= index %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                <%= group_name %>
              </button>
            </h2>
            <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#symptoms-accordion">
              <div class="accordion-body">
                <% symptoms.each do |symptom| %>
                  <div class="form-check">
                    <%= form.check_box :symptom_ids, { multiple: true, id: "symptom-#{symptom.id}", class: 'form-check-input' }, symptom.id, nil %>
                    <%= form.label "symptom_ids_#{symptom.id}", symptom.name_with_pain_type, for: "symptom-#{symptom.id}", class: 'form-check-label' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="actions mt-3">
      <%= form.submit t('care_methods.new.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
