<%= stylesheet_link_tag 'care_methods_show' %>
<div class="care-methods-container">
  <% if @care_methods.any? %>
    <% @care_methods.each do |care_method| %>
      <div class="care-method">
        <h1><%= care_method.name %></h1>
        <p><strong><%= t('care_methods.show.description') %></strong> <%= care_method.description %></p>
        <% care_method.video_links.each_with_index do |link, index| %>
          <p>
            <strong><%= t('care_methods.show.video_link') %> <%= index + 1 %> :</strong> <%= link %>
            <br/>
            <strong><%= t('care_methods.show.video_title') %> <%= index + 1 %> :</strong> <%= care_method.video_titles[index] %>
          </p>
        <% end %>
        <div class="care-method-actions">
          <%= link_to t('care_methods.show.edit'), edit_care_method_path(care_method), class: "btn btn-primary" %>
          <%= link_to t('care_methods.show.delete'), care_method_path(care_method), method: :delete, data: { confirm: t('care_methods.show.confirm_delete') }, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><%= t('care_methods.show.no_methods_found') %></p>
  <% end %>
</div>
