<%= stylesheet_link_tag 'care_record_new' %>
<body class="body">
  <main class="main container">
    <div class="text-center">
      <h1 class="h1 mt-5 mb-4"><%= t('ケア記録を作成') %></h1>

      <!-- Form to create a new care record -->
      <%= form_with(url: "/api/care_records", method: "post", id: "new-care-record-form") do %>
        <div class="form-group">
          <label for="date">日付</label>
          <%= date_field_tag 'care_record[date]', nil, class: 'form-control' %>
        </div>

        <!-- 問診結果に基づいたケアタイプの選択 -->
        <% if @selected_care_methods.present? %>
          <div class="form-group">
            <label for="diagnosed-care-type">問診結果に基づいたケアタイプ</label>
            <%= select_tag 'care_record[care_type]', options_for_select(@selected_care_methods.map do |care_method|
              care_method.description.scan(/(?<!・|（\d）)([^:\s（）]+)(?=\s*[:])/).map(&:first).map { |title| title.gsub(/\d+\./, '').gsub('・', '') }
            end.flatten), class: 'form-control' %>
          </div>
        <% else %>
          <!-- ケアタイプの選択 -->
          <div class="form-group">
            <label for="care-type">ケアタイプ</label>
            <%= select_tag 'care_record[care_type]', options_for_select([
              ['ストレッチ', 'stretch'],
              ['筋力トレーニング', 'strength_training'],
              ['エクササイズ', 'exercise'],
              ['その他', 'other']
            ]), class: 'form-control' %>
          </div>
        <% end %>

        <!-- 症状の選択 -->
        <div class="form-group">
          <label for="symptom">症状</label>
          <%= select_tag 'care_record[symptom]', options_for_select([
            ['首', 'neck'],
            ['腰', 'back']
          ]), class: 'form-control' %>
        </div>

        <div class="form-group">
          <label for="description">ケア内容やメモ</label>
          <%= text_area_tag 'care_record[description]', nil, class: 'form-control' %>
        </div>

        <button type="submit" class="btn btn-primary">ケア記録を作成</button>
      <% end %>
    </div>
  </main>
</body>
