<head>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <title>首と腰の痛み共有掲示板</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <%= stylesheet_link_tag 'posts' %>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container">
        <h1 class="text-center mb-4">首と腰の痛み共有掲示板</h1>

        <!-- ここに検索フォームを追加します -->
        <div class="mb-4">
          <%= form_with url: posts_path, method: :get, local: true, class: 'input-group' do |f| %>
            <%= f.text_field :search, placeholder: "投稿を検索", class: 'form-control form-control-lg' %>
            <%= f.select :filter_by_location, ['全て', '首', '腰'], {}, class: 'form-control' %>
            <%= f.select :sort_by_favourites, ['いいね数順', '通常'], {}, class: 'form-control' %>
            <span class="input-group-btn">
               <%= f.submit "検索", class: 'btn btn-primary btn-lg' %>
            </span>
        <% end %>
    </div>

        <div class="card">
            <div class="card-header">
                新規投稿
            </div>
            <div class="card-body">
                <%= form_with model: Post.new, url: posts_path, id: 'postForm', local: true do |f| %>
                    <div class="form-group">
                        <%= f.label :content, 'メッセージ:' %>
                        <%= f.text_area :content, class: 'form-control', rows: 3, placeholder: 'メッセージを入力してください' %>
                    </div>
                    <div class="form-group">
                        <%= f.label :pain_location, '部位:' %>
                        <%= f.select :pain_location, ['首', '腰'], {}, class: 'form-control' %>
                    </div>
                    <button type="submit" class="btn btn-primary">投稿する</button>
                <% end %>
            </div>
        </div>
        <div id="messages" class="mt-4">
          <div class="text-center mt-4">
            <%= link_to 'いいねした投稿一覧', favourites_user_path(current_user), class: 'btn btn-primary' %>
          </div>
            <h2>投稿一覧</h2>
            <div class="row card-container">
                <% @posts.each do |post| %>
                    <div class="message-card card" data-post-id="<%= post.id %>" data-user-id="<%= current_user.id %>">
                        <div class="card-header">
                            <%= post.user.name %>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%= post.content %></p>
                            <div>
                                <% if current_user.id == post.user.id %>
                                    <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-link' %>
                                    <%= link_to '編集', edit_post_path(post), class: 'edit-link' %>
                                <% end %>
                            </div>
                            <div class="favourite-link" data-post-id="<%= post.id %>" data-user-id="<%= current_user.id %>">
                              <i class="favourite-icon <%= post.favourites.find_by(user_id: current_user.id) ? 'fas' : 'far' %> fa-thumbs-up"></i> 
                              <span class="favourite-count"><%= post.favourites.count %></span>
                            </div>
                            <p class="pain-location"><strong><%= post.pain_location %></strong></p>
                        </div>
                    </div>
                <% end %>
                <%= paginate @posts %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_pack_tag 'posts' %>
</body>
