<head>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <title><%= t('posts.title') %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <%= stylesheet_link_tag 'posts' %>
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="container">
        <h1 class="text-center mb-4"><%= t('posts.title') %></h1>

        <!-- ここに検索フォームを追加します -->
        <div class="mb-4">
          <%= form_with url: posts_path, method: :get, local: true, class: 'input-group' do |f| %>
            <%= f.text_field :search, placeholder: t('posts.search_placeholder'), class: 'form-control form-control-lg' %>
            <%= f.select :filter_by_location, [t('posts.search_location_options.all'), t('posts.search_location_options.neck'), t('posts.search_location_options.lower_back')], {}, class: 'form-control' %>
            <%= f.select :sort_by_favourites, [t('posts.search_favourite_options.most_favourite'), t('posts.search_favourite_options.regular')], {}, class: 'form-control' %>
            <span class="input-group-btn">
               <%= f.submit t('posts.search_button'), class: 'btn btn-primary btn-lg' %>
            </span>
        <% end %>
    </div>

        <div class="card">
            <div class="card-header">
                <%= t('posts.new_post_header') %>
            </div>
            <div class="card-body">
                <%= form_with model: Post.new, url: posts_path, id: 'postForm', local: true do |f| %>
                    <div class="form-group">
                        <%= f.label :content, t('posts.message_label') %>
                        <%= f.text_area :content, class: 'form-control', rows: 3, placeholder: t('posts.message_placeholder') %>
                    </div>
                    <div class="form-group">
                        <%= f.label :pain_location, t('posts.location_label') %>
                        <%= f.select :pain_location, [t('posts.location_options.neck'), t('posts.location_options.lower_back')], {}, class: 'form-control' %>
                    </div>
                    <button type="submit" class="btn btn-primary"><%= t('posts.post_button') %></button>
                <% end %>
            </div>
        </div>
        <div id="messages" class="mt-4">
          <div class="text-center mt-4">
            <%= link_to t('posts.favourite_posts'), favourites_user_path(current_user), class: 'btn btn-primary' %>
          </div>
            <h2><%= t('posts.post_list_header') %></h2>
            <div class="row card-container">
                <% @posts.each do |post| %>
                    <div class="message-card card" data-post-id="<%= post.id %>" data-user-id="<%= current_user.id %>">
                        <div class="card-header">
                            <%= post.user.name %>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%= post.content %></p>
                            <div>
                                <% if current_user.id == post.user.id %>
                                    <%= link_to t('posts.delete_confirmation'), post, method: :delete, data: { confirm: t('posts.delete_confirmation') }, class: 'delete-link' %>
                                    <%= link_to '編集', edit_post_path(post), class: 'edit-link' %>
                                <% end %>
                            </div>
                            <div class="favourite-link" data-post-id="<%= post.id %>" data-user-id="<%= current_user.id %>">
                              <i class="favourite-icon <%= post.favourites.find_by(user_id: current_user.id) ? 'fas' : 'far' %> fa-thumbs-up"></i> 
                              <span class="favourite-count"><%= post.favourites.count %></span>
                            </div>
                            <p class="pain-location"><strong><%= post.pain_location %></strong></p>
                        </div>
                    </div>
                <% end %>
                <%= paginate @posts %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= javascript_pack_tag 'posts' %>
</body>
