<%= stylesheet_link_tag 'posts_show' %>
<!-- Twitter Card metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@your_twitter_username">
<meta name="twitter:title" content="<%= t('posts.show.details') %>">
<meta name="twitter:description" content="<%= t('posts.show.click_link') %>">
<% if @post.pain_location == "首" %>
  <meta name="twitter:image" content="<%= asset_url('11514_color (2).png') %>">
<% elsif @post.pain_location == "腰" %>
  <meta name="twitter:image" content="<%= asset_url('11581_color (1) (1).png') %>">
<% end %>
<body class="d-flex flex-column min-vh-100 page-container">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="title"><%= t('posts.show.details') %></div>
        <div class="card">
            <div class="header">
                <%= @post.user.name %>
            </div>
            <div class="body">
                <p class="post-content">
                    <%= @post.content %> 
                </p>
                <p class="pain-location"><strong><%= @post.pain_location %></strong></p>
            </div>
            <!-- Twitter share button -->
            <div class="d-flex justify-content-center">
                <a href="https://twitter.com/share?text=<%= URI.encode_www_form_component(@post.user.name + t('posts.show.post_details') + @post.pain_location + "：" + @post.content) %>&url=<%= request.original_url %>" target="_blank">
                    <span class="twitter-share-button">
                      <i class="fab fa-twitter"></i> <%= t('posts.show.share_with') %>
                    </span>
                </a>
            </div>
        </div>
    </div>
</body>
