<%= stylesheet_link_tag 'posts_show' %>
<!-- Twitter Card metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@your_twitter_username">
<meta name="twitter:title" content="<%= t('posts.show.details') %>">
<meta name="twitter:description" content="<%= t('posts.show.click_link') %>">
<% if @post.pain_location == "首" %>
  <meta name="twitter:image" content="<%= asset_url('11514_color (2).png') %>">
<% elsif @post.pain_location == "腰" %>
  <meta name="twitter:image" content="<%= asset_url('11581_color (1) (1).png') %>">
<% end %>
<body class="d-flex flex-column min-vh-100 page-container">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="title"><%= t('posts.show.details') %></div>
        <div class="card">
            <div class="header">
                <%= @post.user.name %>
            </div>
            <div class="body">
                <p class="post-content">
                    <%= @post.content %> 
                </p>
                <p class="pain-location"><strong><%= @post.pain_location %></strong></p>
            </div>
            <!-- Twitter share button -->
            <div class="d-flex justify-content-center">
                <a href="https://twitter.com/share?text=<%= URI.encode_www_form_component(@post.user.name + t('posts.show.post_details') + @post.pain_location + "：" + @post.content) %>&url=<%= request.original_url %>" target="_blank">
                    <span class="twitter-share-button">
                      <i class="fab fa-twitter"></i> <%= t('posts.show.share_with') %>
                    </span>
                </a>
            </div>
        </div>

        <!-- New Comment Form -->
        <div class="card card-centered">
            <div class="header">
                コメントを投稿する
            </div>
            <div class="body">
                <% if @comment.errors.any? %>
                  <div class="alert alert-danger">
                    <% @comment.errors.full_messages.each do |message| %>
                      <p><%= message %></p>
                    <% end %>
                  </div>
                <% end %>

                <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
                    <div class="form-group">
                        <%= form.label :content, "こちらに記入してください" %><br>
                        <%= form.text_area :content, class: "form-control" %>
                    </div>
                    <div class="d-flex justify-content-center">
                      <%= form.submit "コメントを送信", class: "btn btn-submit-comment" %>
                    </div>
                <% end %>
            </div>
        </div>

        <!-- Existing Comments -->
        <h3>コメント一覧</h3>
        <% @post.comments.select { |c| c.user.present? }.each do |comment| %>
          <div class="card">
            <div class="header">
              <%= comment.user ? comment.user.name : "Unknown User" %>
            </div>
            <div class="body">
              <p class="post-content">
                <%= comment.content %>
              </p>
              
              <% if current_user == comment.user %>
                <div class="d-flex justify-content-end">
                  <%= link_to '削除', post_comment_path(@post, comment), method: :delete, data: { confirm: 'コメントを削除してもよろしいですか？' }, class: 'btn btn-bright-green' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
</body>
