<!DOCTYPE html>
<html>
<head>
    <title><%= @post.content %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <%= stylesheet_link_tag 'posts_show' %>

    <style>
        .fa-twitter:before {
            content: 'ğ•';
            font-family: unset;
            font-weight: bold;
        }
    </style>

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@your_twitter_username">
    <meta name="twitter:title" content="<%= @post.content %>">
    <meta name="twitter:description" content="<%= @post.pain_location %>">
    <% if @post.pain_location == "é¦–" %>
        <meta name="twitter:image" content="<%= asset_url('11514_color (2).png') %>">
    <% elsif @post.pain_location == "è…°" %>
        <meta name="twitter:image" content="<%= asset_url('11581_color (1) (1).png') %>">
    <% end %>
</head>
<body class="d-flex flex-column min-vh-100 page-container">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="title">æŠ•ç¨¿è©³ç´°</div>
        <div class="card">
            <div class="header">
                <%= @post.user.name %>
            </div>
            <div class="body">
                <p class="post-content">
                    <%= @post.content %> 
                </p>
                <p class="pain-location"><strong><%= @post.pain_location %></strong></p>
            </div>
        </div>
        <!-- Twitter share button -->
        <div>
            <a href="https://twitter.com/share?text=<%= URI.encode_www_form_component(@post.user.name + "ã•ã‚“ãŒ" + @post.pain_location + "ã®ç—›ã¿ã«é–¢ã™ã‚‹ä½“é¨“ã‚’å…±æœ‰ã—ã¾ã—ãŸã€‚") %>&url=<%= request.original_url %>" target="_blank">
                <i class="fab fa-twitter"></i> Xã§ã‚·ã‚§ã‚¢
            </a>
        </div>
    </div>
</body>
</html>
