<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
</head>
<body>
  <%= stylesheet_link_tag 'user_sessions' %>
  <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-md-10">
              <div class="card border-0 shadow mt-5">
                  <div class="card-body p-5">
                      <h2 class="mb-4">ログイン</h2>
                      <%= form_for @user, url: user_sessions_path, html: { class: 'form mt-4' } do |f| %>
                          <% if @user.errors.any? %>
                              <div id="error_explanation" class="alert alert-danger">
                                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                                  <ul>
                                      <% @user.errors.full_messages.each do |message| %>
                                          <li><%= message %></li>
                                      <% end %>
                                  </ul>
                              </div>
                          <% end %>
                          <div class="form-group">
                              <%= f.label :email %>
                              <%= f.email_field :email, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                              <%= f.label :password %>
                              <%= f.password_field :password, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                              <%= f.submit "ログイン", class: 'btn btn-tea btn-block' %>
                          </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>