<!DOCTYPE html>
<html>
<head>
  <title>アプリのタイトル</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Add jQuery and Bootstrap from a CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!-- Add Noto Serif JP font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">

  <!-- DataTables CSS and JS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

  <!-- CSS や JavaScript のリンクをここに追加 -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  <div id="page-container">
  <% if current_user %>
    <%= render 'shared/logged_in_header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>
    
    <!-- ここに各ページのコンテンツを表示 -->
    <%= yield %>
  </div>

  <!-- フッターを表示 -->
  <%= render 'shared/footer' %>
</div>
</body>

