<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <title>なごみ首腰：痛みケアナビ</title>

  <!-- Google Site Verification -->
  <meta name="google-site-verification" content="36w4UkJcFY6mhl6anLRlt9aWoXGMdjoWjbV4n_PLF4E" />

  <!-- OGP and Twitter card meta tags -->
  <meta property="og:url" content="https://nagomi-neckback-care-f61a27e8212b.herokuapp.com/">
  <meta property="og:title" content="なごみ首腰：痛みケアナビ">
  <meta property="og:description" content="専門家が提供する痛みケアと情報共有のプラットフォームで、あなたの健康をサポート。">
  <meta property="og:image" content="<%= image_url('logo.png') %>">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9DFFEJNTLQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9DFFEJNTLQ');
  </script>

  <!-- CSS や JavaScript のリンクをここに追加 -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Add jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Add Bootstrap from a CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!-- Add Noto Serif JP font from Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">

  <!-- DataTables CSS and JS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- noUiSlider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>

  <!-- YouTube IFrame API -->
  <script src="https://www.youtube.com/iframe_api"></script>

  <meta name="csrf-token" content="<%= form_authenticity_token %>">
</head>
<body>
  <div id="page-container">
  <% if current_user %>
    <%= render 'shared/logged_in_header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>

    <!-- フラッシュメッセージを表示 -->
    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </div>

  <!-- フッターを表示 -->
  <%= render 'shared/footer' %>
</div>
</body>
</html>
